include README.md
include LICENSE
include pyproject.toml
include setup.py

recursive-include src *.py
recursive-include docs *.md
recursive-include tests *.py

exclude .gitignore
exclude .envrc
exclude ivpm.yaml

global-exclude __pycache__
global-exclude *.py[cod]
global-exclude *.so
global-exclude .DS_Store
